
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
python-dotenv
Pillow
requests
streamlit==1.59.1
tensorflow==2.19.1

